{% extends 'todo/base.html' %}
{% load static %}
{% block content %}

<main class="container mt-5">
    <div class="row justify-content-center mb-3">
        <div class="col-8">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Recipient's username"
                    aria-label="Recipient's username" aria-describedby="button-addon2">
                <button class="btn btn-primary" type="button" id="button-addon2">Add</button>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mb-4">
        <ul class="nav col-8" id="todoNav">
            <li class="nav-item">
                <a class="nav-link active" id="todoActive" href="#active">ACTIVE</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="todoCompleted" href="#completed">COMPLETED</a>
            </li>
        </ul>
    </div>
    <div class="row justify-content-center mb-4">
        <div class="col-8" id="todoItems">
            <div class="input-group mb-2">
                <textarea class="form-control" readonly>ddfasdfasdfasdf</textarea>
                <button class="btn btn-success" type="button">Complete</button>
                <button class="btn btn-danger" type="button">Delete</button>
            </div>
            <div class="input-group mb-2">
                <textarea class="form-control" readonly>ddfasdfasdfasdf</textarea>
                <button class="btn btn-success" type="button">Complete</button>
                <button class="btn btn-danger" type="button">Delete</button>
            </div>
        </div>
    </div>
</main>
<!-- <ul>
    {% for todo in todos %}
        <li>
            <a href="{% url 'viewtodo' todo.id %}">
                {% if todo.important %} 
                    <b>{{ todo.title }}</b> 
                {% else %} 
                    {{ todo.title }}
                {% endif %}
                
                {% if todo.memo %} - {{todo.memo}} {% endif %}
            </a>
        </li>
    {% endfor %}
</ul> -->

<p id="mydata" style="display:none">{{ currenttodos|json_script:"currenttodos" }}</p>
<a id="completedTodosUrl" href="{% url 'completedtodos' %}" style="display:none"></a>


<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="{% static 'todo/todo.js' %}"></script>
<script src="{% static 'todo/activelink.js' %}"></script>
{% endblock %}