.navbar-light .navbar-brand {
    color:orangered;
    font-weight:600
}

.navbar-light .navbar-brand:hover {
    color:orangered
}

.navbar-light .navbar-nav .nav-link {
    margin-top: 0.25rem;
    border-bottom: 0.25rem solid transparent
}

.nav-link.nav-link-hover:hover {
    margin-top: 0.25rem;
    border-bottom: 0.25rem solid orangered
}

button.btn.btn-link {
    color: rgba(0,0,0,.55);
}

#hero-img {
    max-width:100%;
}

#hero-img img{
    max-width: 100%;
    max-height: 100%;
    display: block; /* remove extra space below image */
}

#hero-img a{
    text-decoration:none;
}
#todoNav .nav-link{
    color:rgba(0,0,0,.55);
}


#todoNav .nav-link.active, #todoNav .nav-link:hover{
    border-bottom: 0.25rem solid orangered;
}

#todoItem {
    color:rgba(0,0,0,.55);
    border-radius: 0.25rem;
    background-color: #f4f6f7;
}

#todoItem .form-check-label {
    padding:50
}